@import "tailwindcss";
@config "../tailwind.config.ts";

/* Reset Layout agar Full Screen */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Mencegah scroll ganda */
  background-color: #f3f4f6;
  /* bg-gray-100 fallback */
}

/* Custom Scrollbar yang Tipis & Elegan */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* slate-400 */
}

/* Utilitas Sembunyikan Scrollbar (untuk Mobile Frame) */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}